header {
    background-color: #9575CD !important;
    color: #fff !important;
}

footer {
    background-color: #af99d8 !important;
}

.our-history {
    margin-bottom: 30px;
    ;
}

.footer-links {
    margin-top: 50px;
}